body {
  background-color: #EAF6F6;
}

hr {
  border-style: dotted none none;
  border-color: lightgrey;
  border-width: 6px;
  width: 7%;
}

h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
